.cent {
    display: flex;
    justify-content: center;
}
.navBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFFFF7;
    position: sticky;
    top: 0;
    width: 100%;
}

.navLINK {
    float: left;
}


.navLINK a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navLINK a:hover {
    background-color: lightgrey;
}
body {
    background-color: ivory;
}
#cente {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.dist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFFFF7;
    position: sticky;
    top: 0;
    width: 100%;

}

.dis {
    float: left;
}
.dis a {
    display: inline;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.dis a:hover {
    background-color: lightgrey;
}