ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFFFF7;
    position: sticky;
    top: 0;
    width: 100%;
}

li {
    float: left;
}


li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: lightgrey;
}
#cente {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);
}
body {
    background-color: ivory;
}
h1 {
    font-size: xx-large;
}